@charset "utf-8";
#logo {
    width: auto;
    float: none;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: auto;
    position: static;
}

header{
	left: 0;
	width: 100%;
	top: 0;
	padding: 10px 0;
	background-color: black;
	overflow: auto;
}

footer {
	text-align: center;
	bottom: 0px;
	background-color: #000000;
	color: #FFFFFF;
	top: auto;
	position: absolute;
	font-style: italic;
	width: 100%;
}
body img {
	width: auto;
	height: 60px;
}

body {
	background-image: url(img/effet%20typo%2001.jpg);
	margin: 0;
}

body iframe {
    left: 0vmax;
    right: 0vmax;
    float: none;
    display: block;
    position: static;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-top: 50px;
}

body h1 {
	text-align: center;
	color: #FFFFFF;
	left: 0vmax;
	right: 0vmax;
	float: none;
	display: block;
	position: static;
	padding-left: auto;
	padding-right: auto;
	margin-right: auto;
	margin-left: auto;
}

#slideshow {
	width: auto;
	left: 0vmax;
	right: 0vmax;
	float: none;
	display: block;
	padding-left: auto;
	padding-right: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding-top: 5px;
	position: static;
	outline: none;
}

nav{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 20px auto;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	display: inline;
}

aside{
	position: absolute;
	background-color: white;
}

.menu {
    display: inline-block;
    left: 0vmax;
    right: 0vmax;
}

.menu a {
    background-color: #80181e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    user-select: none;
    left: 0vmax;
    right: 0vmax;
}

.sous-menu {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	margin-top: 16px;
}

.sous-menu a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	margin: 2px;
}

.menu:hover .sous-menu{
	display: block;
}

.menu a:hover{
    background-color: #60181e;
    left: 0vmax;
    right: 0vmax;
}

/*
li a{
	text-decoration:none;
}

header nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	left: 0vmax;
	right: 0vmax;
}
header nav ul li{
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	padding: 0;
	float: left;
	width: 320px;
	height: 40px;
	background-color: black;
	line-height: 40px;
	text-align: center;
	left: 0vmax;
	right: 0vmax;
	border-radius: 5px;
}

header nav ul li:hover{
	background-color: gray;
	display: block;
	
	left: 0vmax;
	right: 0vmax;
}
header nav ul li ul li{
	display: none;
	left: 0vmax;
	right: 0vmax;
}
header nav ul li:hover ul li{
	display: block;
}*/
