@charset "utf-8";
#logo {
    width: auto;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    top: auto;
    position: static;
    margin-left: 20px;
	height: 60px;
}
.logofacebook {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    overflow: auto;
    width: 40px;
    height: 40px;
    position: relative;
}
.logofacebook img{
	position: absolute;
	display: block;
	height: 100%;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.logofacebook img:hover{
	opacity:0;
}

body article {
    text-align: center;
}
body article img {
    height: auto;
    width: auto;
    float: none;
    margin-left: 180px;
    margin-right: 0px;
}

header{
	left: 0;
	width: 100%;
	top: 0;
	padding: 10px 0;
	background-color: black;
	overflow: auto;
}

footer {
    text-align: center;
    bottom: 0vmax;
    background-color: #000000;
    color: #FFFFFF;
    top: auto;
    position: fixed;
    font-style: italic;
    width: 100%;
    float: none;
}

body article {
}


body {
    margin: 0;
    background-color: #A8A6A6;
    text-align: center;
    font-family: questrial;
    font-style: normal;
    font-weight: 400;
}
body section p {
    text-align: center;
    border-radius: 0;
}



body iframe {
    float: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 50px 0;
}

body h1 {
    text-align: center;
    color: #FFFFFF;
    left: 0vmax;
    right: 0vmax;
    float: none;
    display: block;
    position: static;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: questrial;
    font-style: normal;
    font-weight: 400;
}

#slideshow {
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    outline: none;
}

nav{
	display: inline-block;
}

aside{
    position: sticky;
    background-color: #80181e;
    bottom: 0vmax;
    top: 0px;
    padding: 10px;
    margin-top: 2px;
    border: 5px solid #000000;
    text-align: left;
    margin-left: 2px;
    float: left;
    color: #FFFFFF;
    font-family: questrial;
    font-style: normal;
    font-weight: 400;
}
body h2 {
    font-family: questrial;
    font-style: normal;
    font-weight: 400;
    background-color: #4A4747;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    width: 6rem;
    right: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}



.menu {
    display: inline-block;
}

.menu a {
    background-color: #80181e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    user-select: none;
    display: inline-block;
    font-family: questrial;
    font-style: normal;
    font-weight: 400;
}

.sous-menu {
	opacity: 0;
	pointer-events: none;
	display: block;
	position: absolute;
}

.sous-menu a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	margin: 2px;
}

.menu:hover .sous-menu{
	pointer-events: auto;
	opacity: 1;
	transition: .3s;
}

.menu a:hover{
    background-color: #60181e;
    left: 0vmax;
    right: 0vmax;
}
